
@font-face {
    font-family: 'fixedsys';
    src: url("../assets/fonts/FSEX301-L2.ttf");
}

#tabs {
    padding-left: 20px;
    padding-right: 10px;
}

.container {
    width: 100%;
}

#game {
    box-shadow: rgba(46, 94, 80, 0.45) 0 0 2ex;
    outline: none;
    width: 100%;
    margin: 1em 0 1em 1em;
    box-sizing: border-box;

    background: whitesmoke;
}

#editor {
    margin: 1em 0 1em 1em;
    height: 35em;
    box-shadow: rgba(46, 94, 80, 0.45) 0 0 2ex;

}

#graphContainer {
    height: 500px;
    width: 500px;
}

.ace_gutter-cell.ace_error {
    background-image: url("../images/err_annotation.png") !important;
    background-position: 2px center;
}

#tabs ul, li, a {
    display: inline;
}

#tabs .ui-tabs-nav li.ui-tabs-active a {
    background: #a1cd9b;
}

#editorBtns {
    display: inline;

}

.editorBtn {
    background: #895EC3;
    padding: .85em 1em
}

.editorBtn:hover {
    background: #A386CA;
}

#gameBtns {
    display: inline;
}
