
@font-face {
    font-family: 'fixedsys';
    src: url("./fonts/FSEX301-L2.ttf");
}

.container {
    width: 1600px;
}

#game {
    box-shadow: rgba(46, 94, 134, 0.45) 10px 10px 3px;
    margin-top: 1em;
    outline: none;
    /*background: #282828;*/
}

#editor {
    margin-top: 1em;
    height: 650px;
    box-shadow: rgba(46, 94, 134, 0.45) 10px 10px 3px;

}

#graphContainer {
    height: 500px;
    width: 500px;
}

.ace_gutter-cell.ace_error {
    background-image: url("sprites/err_annotation.png") !important;
    background-position: 2px center;
}

#console_ui {
    display: flex;
    background-color: gray;
    width: 90ch;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    height: 9.5em;
    
    color: white;
    font-family: fixedsys, monospace;
    font-size: 1em;
    line-height: normal;
    border-top-width: 0.25em;
    border-bottom-width: 0.25em;
    border-style: solid;
    border-color: gray;
}

#console_holder {
    box-sizing: content-box;
    width: 81ch;
    height: 9em;
    
    background-color: black;
    overflow: hidden;
    
    border-style: solid;
    border-color: gray;
    border-bottom-width: 0.25em;
    border-top-width: 0.25em;
    border-left-width: 0.5ch;
    border-right-width: 0.5ch;
}

#console_scrollable {
    box-sizing: content-box;
        
    padding-left: 0.5ch;
    padding-right: 0.5ch;
}

.console_line {
    box-sizing: content-box;
        
    width: 80ch;
    height: 1em;
    
    overflow: hidden;
    white-space: pre;
    
    margin: 0;
    padding-bottom: 0.1em;
}

#console_buttons {
    width: 8ch;
    margin-top: 0.5em;
}

#console_buttons button, #console_buttons .checkbox_container {
    font-weight: normal;
    background-color: #8C5050;
    border: none;
    border-radius: 0 0 0 0;
    color: white;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

.checkbox_container input {
    display: none;
}

.checkbox_container span {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
}

.checkbox_container input:checked ~ span {
    background-color: #508C50;
}
